* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    background-image: url(../img/otros/imgFondo2.png);
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
}

.toastify{
    padding: 10px;
    margin-left: 20px;
    position: fixed;
    z-index: 1;
}

.swal2-show{
    margin-top: 12vh;
    margin-right: 10px;
}
.swal2-title{
    font-size: 1.35em;

}

/* --------------- */

/* Estilos del HEADER */
.headerIndex{
    height: 12.5vh;
    background-color: #198754;
    max-width: 100%;
}
header h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
    letter-spacing: -4px;
    margin-top: 25px;
    color: rgb(180, 226, 174);
    text-shadow: 1px 1px 2px black;
}
.mq659{
    display: none;
}
.primerTerminoHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}
.logo-empresa{
    height: 175px;
    margin-top: 25px;
}
.logo-empresa:hover{
    transform: scale(1.1);
    transition: all 0.6s;
}
#boton-carrito {
    border: none;
    font-size: 30px;
    background-color: #198754;
    border-radius: 20%;
    padding: 10px 20px;
    transition: all 0.3s;
    margin-top: 15px;
}
#boton-carrito:hover {
    cursor: pointer;
    font-size: 2.2rem;
    transform: scale(1.1);
    transition: all 0.6s;

}
#boton-carrito:focus {
    outline: none;
}
.seleccion{
    display: flex;
}
#selectProductos, #botoncito {
    height: 35px;
    margin: 5px;
}


/* Estilos del MAIN */
.mainIndex{
    top: 10vh;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 180px;
}
.mainHeader{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.card-body i img {
    width: 32px;
    height: 32px;
    margin-top: 2px;
}
.card-body a {
    justify-content: center;
    align-items: center;
}
.card {
    margin-bottom: 30px;
    box-shadow: 0px 0px 8px 2px gray;
    text-align: center;
    background-color: rgb(180, 226, 174);
}
.producto, col {
    display: flex;
    justify-content: center;
    margin: 15px;
    max-width: 300px;
    margin-bottom: 40px;
}
.producto img{
    max-width: 275px;
}
.seleccion select{
    width: 250px;
    padding: 2px;
}
.mainHeader input{
    width: 250px;
    padding: 2px;
}
.row{
    justify-content: center;
}
#contenedor-productos h3{
    font-size: 3rem;
    color: black;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.5);
    margin-top: 20px;
}

/* --------------- */

/* Estilos del FOOTER */
.footerIndex{
    bottom: 0vh;
    height: 10vh;
    background-color: rgb(180, 226, 174);
    display: flex;
    align-items: center;
    text-align: center;
}
.logoPR img{
    height: 100px;
}
.logoPR img:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}
.footerIndex p{
    margin-top: 12px;
}
.redes ul{
    display: flex;
    list-style: none;
}
.redes li{
    margin: 15px;
}
.redes li:hover{
    transform: scale(1.3);
    transition: all 0.5s;
}
.redes img{
    height: 48px;
    margin-top: 10px;
}

/* Estilos del modal */
.productoEnCarrito:hover {
    border-left: 5px solid green;
}
.productoEnCarrito p{
    margin-top: 20px;
}
.boton-eliminar img{
    height: 30px;
    border: none;
}
.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}
#carritoCerrar i img{
    height: 30px;
}
.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid green;
}
.boton-eliminar {
    background-color: white;
    color: green;
    border: none;
    font-size: 20px;
    align-items: center;
    text-align: center;
}
.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}
th, td{
    align-items: center;
    text-align: center;
    vertical-align:middle;
}
.productoTabla{
    text-align: start;
}

/* --------------- */

/* Estilos del MODAL propiamentedicho*/
.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}
.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}
.modal-carrito {
    position: relative;
    background-color: white;
    border: 1px solid green;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all 0.5s;
}
.modal-active .modal-carrito {
    margin-top: 0;
}
.modal-carrito h3 {
    color: green;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: green;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
}
.card .card-image .card-title {
    color: green;
    position: unset;
}
.tablitaCompra{
    background-color: white;
}
.modal-carrito{
    scroll-behavior: smooth;
    overflow-y: scroll;
    max-height: 400px;
    width: 600px;
}


/* --------------- */


#pagoTransferencia, #pagoTarjeta, #pagoEfectivo, #registrarse, #yaTengoUsuario, #terminosYcondiciones1, #terminosYcondiciones2{
    display: none;
}

.btnPaso1Compra, .btnPaso2Compra, .btnPaso3Compra, .btnPaso4Compra{
    text-align: start;
    width: 100%;
}

#grupoEnvios, #precioEnvio{
    text-align: start;
}

.headerCompra h2{
    color: white;
}


/* --------------- */


/* Estilos de tarjeta de crédito: */

.contenedorTjt {
	width: 90%;
	max-width: 1000px;
	padding: 40px 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tarjeta {
	width: 100%;
	max-width: 550px;
	position: relative;
	color: #fff;
	transition: .3s ease all;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	cursor: pointer;
	z-index: 2;
}

.tarjeta.active {
	transform: rotateY(180deg);
}

.tarjeta > div {
	padding: 30px;
	border-radius: 15px;
	min-height: 315px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
}

.tarjeta .delantera {
	width: 100%;
	background: url(../img/otros/tarjeta/bg-tarjeta/bg-tarjeta-01.jpg);
	background-size: cover;
}

.delantera .logo-marca {
	text-align: right;
	min-height: 50px;
}

.delantera .logo-marca img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 80px;
}

.delantera .chip {
	width: 100%;
	max-width: 50px;
	margin-bottom: 20px;
}

.delantera .grupo .label {
	font-size: 16px;
	color: #7d8994;
	margin-bottom: 5px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
}

.delantera .flexbox {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.trasera {
	background: url(../img/otros/tarjeta/bg-tarjeta/bg-tarjeta-03.jpg);
	background-size: cover;
	position: absolute;
	top: 0;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

.trasera .barra-magnetica {
	height: 40px;
	background: #000;
	width: 100%;
	position: absolute;
	top: 30px;
	left: 0;
}

.trasera .datos {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.trasera .datos p {
	margin-bottom: 5px;
}

.trasera .datos #firma {
	width: 70%;
}

.trasera .datos #firma .firma {
	height: 40px;
	background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}

.trasera .datos #firma .firma p {
	line-height: 40px;
	font-family: 'Liu Jian Mao Cao', cursive;
	color: #000;
	font-size: 30px;
	padding: 0 10px;
	text-transform: capitalize;
}

.trasera .datos #ccv {
	width: 20%;
}

.trasera .datos #ccv .ccv {
	background: #fff;
	height: 40px;
	color: #000;
	padding: 10px;
	text-align: center;
}

.trasera .leyenda {
	font-size: 14px;
	line-height: 24px;
}

.trasera .link-banco {
	font-size: 14px;
	color: #fff;
}

.contenedor-btn .btn-abrir-formulario {
	width: 50px;
	height: 50px;
	font-size: 20px;
	line-height: 20px;
	background: #2364d2;
	color: #fff;
	position: relative;
	top: -25px;
	z-index: 3;
	border-radius: 100%;
	box-shadow: -5px 4px 8px rgba(24,56,182,0.4);
	padding: 5px;
	transition: all .2s ease;
	border: none;
	cursor: pointer;
}

.contenedor-btn .btn-abrir-formulario:hover {
	background: #1850b1;
}

.contenedor-btn .btn-abrir-formulario.active {
	transform: rotate(45deg);
}

.formulario-tarjeta {
	background: #fff;
	width: 100%;
	max-width: 700px;
	padding: 150px 30px 30px 30px;
	border-radius: 10px;
	position: relative;
	top: -150px;
	z-index: 1;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	transition: clip-path .3s ease-out;
}

.formulario-tarjeta.active {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.formulario-tarjeta label {
	display: block;
	color: #7d8994;
	margin-bottom: 5px;
	font-size: 16px;
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.btn-enviar {
	border: 2px solid #CED6E0;
	font-size: 18px;
	height: 50px;
	width: 100%;
	padding: 5px 12px;
	transition: .3s ease all;
	border-radius: 5px;
}

.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover {
	border: 2px solid #93BDED;
}

.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
	outline: rgb(4,4,4);
	box-shadow: 1px 7px 10px -5px rgba(90,116,148,0.3);
}

.formulario-tarjeta input {
	margin-bottom: 20px;
	text-transform: uppercase;
}

.formulario-tarjeta .flexbox {
	display: flex;
	justify-content: space-between;
}

.formulario-tarjeta .expira {
	width: 100%;
}

.formulario-tarjeta .ccv {
	min-width: 100px;
}

.formulario-tarjeta .grupo-select {
	width: 100%;
	margin-right: 15px;
	position: relative;
}

.formulario-tarjeta select {
	-webkit-appearance: none;
}

.formulario-tarjeta .grupo-select i {
	position: absolute;
	color: #CED6E0;
	top: 18px;
	right: 15px;
	transition: .3s ease all;
}

.formulario-tarjeta .grupo-select:hover i {
	color: #93bfed;
}

.formulario-tarjeta .btn-enviar {
	border: none;
	padding: 10px;
	font-size: 22px;
	color: #fff;
	background: #2364d2;
	box-shadow: 2px 2px 10px 0px rgba(0,85,212,0.4);
	cursor: pointer;
}

.formulario-tarjeta .btn-enviar:hover {
	background: #1850b1;
}


/* Acá comienzan las media query */

@media (max-width: 1260px) {
    .headerIndex h1{
        font-size: 2rem;
        letter-spacing: -2px;
    }
    .imgCarrito{
        height: 50px;
    }
}
@media (max-width: 1090px) {
    #contadorCarrito{
        font-size: 20px;
    }
    .imgCarrito{
        height: 30px;
    }
}
@media (max-width: 1050px) {
    .headerIndex h1{
        font-size: 1.75rem;
    }
}
@media (max-width: 1020px) {
    .redes img{
        height: 30px;
    }
    .redes ul{
        margin: 5px;
        padding: 15px;
    }
}
@media (max-width: 950px) {
    .headerIndex h1{
        font-size: 1.5rem;
    }
    .imgCarrito{
        height: 20px;
    }
}
@media (max-width: 840px) {
    .headerIndex h1{
        font-size: 1.25rem;
    }
    .fixed-bottom{
        position: relative;
    }
    .footerIndex{
        flex-direction: column;
        height: 30vh;
    }
}
@media (max-width: 740px) {
    .headerIndex h1{
        font-size: 1rem;
    }
}
@media (max-width: 659px) {
    .headerIndex h1{
        font-size: 1rem;
        text-align: center;
    }
    .mq659{
        display: block;
    }
    .footerIndex{
        flex-direction: column;
        height: 35vh;
    }
}